main {
  min-height: 80vh;
  width: 60vw;
  margin: 0 auto;
  text-align: center;
}
header {
  text-align: center;
}
form {
  margin: 3rem auto 1rem;
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
}


footer {
  text-align: center;
}

.training-record-div {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

#results {
  width: fit-content;
  margin: 0 auto;
}
